
<mat-toolbar color="primary" class="toolbar" dir ="rtl">
    <mat-toolbar-row>
      
        <div class="title"[routerLink]='["/"]'> WINGS RENT CAR </div>
        <mat-icon style="font-size: 35px;margin-left: 5%;" (click)="drawer.toggle() ">menu_open</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <ul>
        <li><button mat-button [routerLink]='["/"]'>ACCUEIL   </button></li>

        <li><button mat-button [routerLink]='["/gestionVoiture/listVoiture"]'>VOITURES   </button></li>
        <li> <button mat-button [routerLink]='["/gestionClient/listClient"]'>CLIENTS     </button></li>
        <li><button mat-button>FACTURES</button></li>
      </ul>
      
     
      
      
    </mat-drawer>

    <div class="bg-img">

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
      </div>
    </div>
    
  </mat-drawer-container>

