
<div class="container-fluid">
<form class="example-form" [formGroup]=ajoutVoitureForm (ngSubmit)="onSubmit()">
   
        <mat-form-field class="example-full-width">
          <mat-label> Nom Voiture :</mat-label>
          <input matInput placeholder="Ex. Honda" >
        </mat-form-field>
   

        <mat-form-field class="example-full-width">
            <mat-label> Numero De Serie :</mat-label>
            <input matInput placeholder="Ex.*** TU ***" >
          </mat-form-field>
     
          
        
</form>


</div>

<br>
<button  mat-raised-button color="primary" [disabled]="!ajoutVoitureForm.valid">Valider</button>

