
<!--<div class="mat-elevation-z8 example-container">
<table mat-table [dataSource]="dataSource" multiTableDataRows class="table" >
  
  <ng-container matColumnDef="matricule">
    <th mat-header-cell *matHeaderCellDef> Matricule </th>
    <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
  </ng-container>
  <ng-container matColumnDef="marque">
    <th mat-header-cell *matHeaderCellDef> Marque  </th>
    <td mat-cell *matCellDef="let element"> {{element.marque}} </td>
  </ng-container>
  <ng-container matColumnDef="couleur">
    <th mat-header-cell *matHeaderCellDef> Couleur  </th>
    <td mat-cell *matCellDef="let element"> {{element.couleur}} </td>
  </ng-container>
  <ng-container matColumnDef="Dispo">
    <th mat-header-cell *matHeaderCellDef> Disponnibilite  </th>
    <td mat-cell *matCellDef="let element"> 
      <em   class="material-icons" *ngIf="element.disponibilite">check_circle</em>
      <em  class="material-icons" *ngIf="!element.disponibilite">not_interested</em>
                                             </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<br>
<div class="example-button-row">
   
    <button mat-raised-button color="primary" [routerLink]='["/gestionVoiture/ajoutVoiture"]'>Ajouter</button>
    
  </div>-->
  <div class="body">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Liste des voitures</ng-template>
      <div class="mat-elevation-z8 example-container stripped">
        <mat-form-field style="text-align: center;margin-left: 40%;">
          <mat-label>Recherche</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" multiTableDataRows class="table" >
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Numero </th>
            <td mat-cell *matCellDef="let element"> {{element.idVoiture}} </td>
          </ng-container>
          <ng-container matColumnDef="matricule">
            <th mat-header-cell *matHeaderCellDef> Matricule </th>
            <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
          </ng-container>
          <ng-container matColumnDef="marque">
            <th mat-header-cell *matHeaderCellDef> Marque  </th>
            <td mat-cell *matCellDef="let element"> {{element.marque}} </td>
          </ng-container>
          <ng-container matColumnDef="couleur">
            <th mat-header-cell *matHeaderCellDef> Couleur  </th>
            <td mat-cell *matCellDef="let element"> {{element.couleur}} </td>
          </ng-container>
          <ng-container matColumnDef="Dispo">
            <th mat-header-cell *matHeaderCellDef> Disponnibilité  </th>
            <td mat-cell *matCellDef="let element"> 
              <em   class="material-icons" *ngIf="element.disponibilite">check_circle</em>
              <em  class="material-icons" *ngIf="!element.disponibilite">not_interested</em>
                                                     </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date disponibilité  </th>
            <td mat-cell *matCellDef="let element"> 
              <em   class="material-icons" *ngIf="element.disponibilite">check_circle</em>
              <em  class="material-icons" *ngIf="!element.disponibilite">not_interested</em> </td>
          </ng-container>
          <ng-container matColumnDef="modifier">
            <th mat-header-cell *matHeaderCellDef> Modifier  </th>
            <td mat-cell *matCellDef="let element"> 
              <em   class="material-icons">edit</em>
              </td>
          </ng-container>
          <ng-container matColumnDef="supprimer">
            <th mat-header-cell *matHeaderCellDef> Supprimer  </th>
            <td mat-cell *matCellDef="let element"> 
              <em class="material-icons">delete</em></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
        <br>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Ajouter une voiture</ng-template>
      <app-ajout-voiture></app-ajout-voiture>
    </mat-step> 
  </mat-horizontal-stepper>
</div>
